{% extends 'main.html' %}

{% block content %}
	<div id="warning">
        <h1 class="error_msg">404 Page not found</h1>
        <p>This is not the page you are looking for ... we have looked and looked and we can't find it. Try again maybe? Our highly trained team of Orang-Utans is working on the issue as we speak.</p>
	</div>
    <div id="realm_block">
	    <div class="feature">
		    <h2><img class="mark" src="/static/icons/system-log-out.svg">A Portal to Your Realm</h2>
		    <p>Featuring your world ...<br />
		    Universe even ...<br />
		    With wikis, forums and interactive maps <br />
		    and a whole load of useful helper apps!</p>
	    </div>

	    <div class="feature">
		    <h2><img class="mark" src="/static/icons/media-playlist-shuffle.svg">Role Playing Community</h2>
		    <p>with lots of groovy players ...<br />
		    Any system, any setting</p>
	    </div>

	    <div class="feature">
		    <h2><img class="mark" src="/static/icons/applications-other.svg">Open Source</h2>
		    <p>Character generation<br />
		    Armed forces setup<br />
		    Adventure tracker<br />
		    Organise your campaign your way</p>
	    </div>

	    <div class="feature">
		    <h2><img class="mark" src="/static/icons/preferences-desktop-theme.svg">Vibe Secure</h2>
		    <p>strong and sensitive moderation<br />
		    Keeping it fun for everyone.</p>
	    </div>
	</div>
{% endblock %}
