{% extends 'main.html' %}
{% load static %}

{% block content %}
  <div id="view_sidebar">
    <h1>{{ realm.name }}</h1>
    <hr />
    <p>{% if realm.rule_set %}<span class="bgold"><img class="mark" src="/static/icons/media-playlist-shuffle.svg">{{ realm.rule_set }}</span> {% endif %}
    {% if realm.genre %} - {{ realm.genre | title }}{% endif %}</p>
    <hr />
    <ul>
    <li><a href="{% url 'realm_view' realm_slug=realm.realm_slug %}"><img class="premark" src="/static/icons/user-home.svg">Home</a></li>
    {% for page in pages %}
    <li><a href="{% url 'page_view' realm_slug=realm.realm_slug page_slug=page.page_slug %}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
    {% if realm.author == user %}<a class="new button" href="{% url 'page_new' realm_slug=realm.realm_slug %}"><img class="mark" src="/static/icons/list-add.svg">New Page</a>{% endif %}
    {% if realm.author %}<p class="author">Creator: <span class="bgold">{{ realm.author }}</span></p>{% endif %}
    <hr />
    {% if realm.created_date %}<p class="date">Created: {{ realm.created_date }}</p>{% endif %}        
    </div>
    <div class="body_text">
    {% if realm.author == user %}<div class="align_right"><a class="edit button" href="{% url 'realm_edit' realm_slug=realm.realm_slug %}">Edit</a></div>
    {% endif %}
    {% if realm.description %}{{ realm.description|safe }}{% endif %} 
    {% if realm.author == user %}<div class="align_right"><a class="edit button" href="{% url 'realm_edit' realm_slug=realm.realm_slug %}">Edit</a></div>
    {% endif %}
    </div>
    <div id="thread_block">
        {% if user.is_authenticated %}
        <div class="thread">
            <form method="POST">{% csrf_token %}
                {{ new_post.text }}
                <input type="hidden" name="mode" value="new">
                <input type="hidden" name="realm_slug" value="{{ realm.realm_slug }}">
                <input type="hidden" name="ancestor" value="">
                <input type="hidden" name="parent" value=0>
        	    <div><button type="submit" class="save button"><img class="mark" src="/static/icons/dialog-ok.svg">Post</button></div>
    	    </form>
        </div>
        {% endif %}
        {% if warning %}<div class="thread"><p class="warning">{{ warning }}</p></div>{% endif %}
        {% for post in posts %}
        <div class="thread">
            <p><img class="mark" src="/static/icons/stock_person.svg"><span class="bgold">{{ post.author }} &raquo;</span> {{ post.text }}</p>
            {% if post.author == user %}
            <details>
                <summary class="edit button">Edit</summary>
                <form method="POST">{% csrf_token %}
                    <textarea cols="40" id="id_text" name="text" rows="4">{{ post.text }}</textarea>
                    <input type="hidden" name="mode" value="edit">
                    <input type="hidden" name="pk" value={{ post.pk }}>
                    <div><button type="submit" class="save button" value="Edit"><img class="mark" src="/static/icons/dialog-ok.svg">Save</button>
                </form>
            </details>
            {% endif %}
            {% if user.is_authenticated %}
            <details>
                <summary class="new button">Comment</summary>
                <form method="POST">{% csrf_token %}
                    {{ new_comment.text }}
                    <input type="hidden" name="mode" value="new">
                    <input type="hidden" name="realm_slug" value="{{ realm.realm_slug }}">
                    <input type="hidden" name="ancestor" value="">
                    <input type="hidden" name="parent" value={{ post.pk }}>
                    <div><button type="submit" class="save button"><img class="mark" src="/static/icons/dialog-ok.svg">Comment</button></div>
                </form>
            </details>
            {% endif %}            
            <div class="button_bar">
                <span class="date">{{ post.created_date|timesince }} ago. </span>

                {% if post.author == user %}
                <form class="inline" method="POST">{% csrf_token %}
                    <input type="hidden" name="mode" value="delete">
                    <input type="hidden" name="pk" value={{ post.pk }}>
                    <input type="hidden" name="text" value="delete">
                    <button type="submit" class="save button" value="Delete"><img class="mark" src="/static/icons/gtk-no.svg">Delete</button>
                </form>
                {% endif %}
            </div>
            <div class="comment_block">
            {% for comment in post.children %}
                <p><img class="mark" src="/static/icons/stock_person.svg"><span class="bgold">{{ comment.author }} &raquo;</span> {{ comment.text }}</p>
                {% if comment.author == user %}
                <details>
                    <summary class="edit button">Edit</summary>
                    <form method="POST">{% csrf_token %}
                        <textarea cols="40" id="id_text" name="text" rows="4">{{ comment.text }}</textarea>
                        <input type="hidden" name="mode" value="edit">
                        <input type="hidden" name="pk" value={{ comment.pk }}>
                        <div><button type="submit" class="save button" value="Edit"><img class="mark" src="/static/icons/dialog-ok.svg">Save</button>
                    </form>
                </details>
                {% endif %}
                <div class="button_bar">
                    <span class="date">{{ comment.created_date|timesince }} ago. </span>
                    {% if comment.author == user %}
                    <form class="inline" method="POST">{% csrf_token %}
                        <input type="hidden" name="mode" value="delete">
                        <input type="hidden" name="pk" value={{ comment.pk }}>
                        <input type="hidden" name="text" value="delete">
                        <button type="submit" class="save button" value="Delete"><img class="mark" src="/static/icons/gtk-no.svg">Delete</button>
                    </form>
                    {% endif %}
                </div>          
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
